.container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title { 
  text-align: center;
}

.icon { 
  font-size: 22px;
  fill: #000;
}